<script setup>
import picture1 from '@images/pages/rainbow/smart-oper/6.png'
import picture2 from '@images/pages/rainbow/smart-oper/4.png'
import picture3 from '@images/pages/rainbow/smart-oper/5.png'
import picture4 from '@images/pages/rainbow/smart-oper/可视化运维系统设备台长.png'
import picture5 from '@images/pages/rainbow/smart-oper/可视化运维系统保养任务管理.png'
import picture6 from '@images/pages/rainbow/smart-oper/7.png'
</script>

<template>
  <v-row>
    <v-col cols="12">
      <div class="text-h3">中煤陕西应急指挥系统</div>
    </v-col>
  </v-row>

  <v-row>
    <v-col cols="12">
      <div class="text-default">2019/01 - 2019/06</div>
    </v-col>
  </v-row>

  <v-row>
    <v-col cols="12">
      <v-card>
        <v-card-text>
          <div class="text-h5">简介</div>
          <p>项目是为中煤鄂尔多斯一家化工厂开发的一款预警监控系统。</p>

          <div class="text-h5 mt-6">功能</div>
          <p>主要功能是：</p>
          <v-list>
            <v-list-item>1. 展示工厂区域3D模型</v-list-item>
            <v-list-item>2. 展示事故情况：火灾, 爆炸, 泄露. 展示伴随条件，比如风向和风速</v-list-item>
            <v-list-item>3. 展示员工位置</v-list-item>
          </v-list>

          <div class="text-h5 mt-6">项目目标</div>
          <v-list>
            <v-list-item>1. 通过业务数字化提高业务效率。</v-list-item>
            <v-list-item>2. 提高安全监控的效率。</v-list-item>
          </v-list>

          <div class="text-h5 mt-6">技术</div>
          <p>Vue 2, JavaScript, Cesium js</p>

          <div class="text-h5 mt-6">成就</div>
          <v-list>
            <v-list-item>1. 用 Cesium js 创建了显示化工工厂区域的3D模型大屏平台。</v-list-item>
          </v-list>
        </v-card-text>
      </v-card>
    </v-col>
  </v-row>
</template>

<style lang="scss" scoped>

</style>
