<script setup>
import picture1 from '@images/pages/rainbow/smart-oper/6.png'
import picture2 from '@images/pages/rainbow/smart-oper/4.png'
import picture3 from '@images/pages/rainbow/smart-oper/5.png'
import picture4 from '@images/pages/rainbow/smart-oper/可视化运维系统设备台长.png'
import picture5 from '@images/pages/rainbow/smart-oper/可视化运维系统保养任务管理.png'
import picture6 from '@images/pages/rainbow/smart-oper/7.png'
</script>

<template>
  <v-row>
    <v-col cols="12">
      <div class="text-h3">瑞德宝尔智慧矿山</div>
    </v-col>
  </v-row>

  <v-row>
    <v-col cols="12">
      <div class="text-default">2019/07 - 2019/11</div>
    </v-col>
  </v-row>

  <v-row>
    <v-col cols="12">
      <v-card>
        <v-card-text>
          <div class="text-h5">简介</div>
          <p>
            项目的目标是为陕西瑞德宝尔投资有限公司提供安全、数字化生产、数字化运营、数字化资产管理平台。</p>

          <div class="text-h5 mt-6">功能</div>
          <p>主要功能是：</p>
          <v-list>
            <v-list-item>1. 基础安全、人员安全、环境安全、设备安全、生产安全管理</v-list-item>
            <v-list-item>2. 运营管理</v-list-item>
            <v-list-item>3. 资产管理</v-list-item>
          </v-list>
          <div class="text-h5">技术</div>
          <p>Vue 2, JavaScript</p>
        </v-card-text>
      </v-card>
    </v-col>
  </v-row>
</template>

<style lang="scss" scoped>

</style>
