<script setup>

</script>

<template>
  <VRow>
    <VCol class="d-flex" cols="12" lg="4" md="4">
      <VCard class="flex-1-1" subtitle="2020/04 - 现在， 西安" title="西安睿博智能科技有限公司" to="rainbow">
        <VCardText>“智慧运维系统”、“票务管理系统”、“生产管理系统”、“智能区域平台”、“产云销一体化平台”、“电力配电设备监控系统”、“国新LNG平台”
        </VCardText>
      </VCard>
    </VCol>

    <VCol class="d-flex" cols="12" lg="4" md="4">
      <VCard class="flex-1-1" subtitle="2019/05—2020/04， 西安" title="陕西金合信息科技股份有限公司" to="jinhe">
        <VCardText>瑞德宝尔管理平台、王家岭管理平台、合金可视化平台、西安咸阳国际机场、中美陕西应急指挥系统</VCardText>
      </VCard>
    </VCol>

    <VCol class="d-flex" cols="12" lg="4" md="4">
      <VCard class="flex-1-1" subtitle="2016/09—2019/05， 西安" title="陕西秦快互联科技有限公司">
        <VCardText>《秦天下》、《东美》</VCardText>
      </VCard>
    </VCol>

    <VCol class="d-flex" cols="12" lg="4" md="4">
      <VCard class="flex-1-1" subtitle="2015/07—2016/09， 西安" title="陕西数字信息技术有限公司" to="shuzixinxi">
        <VCardText>谷堆书城网、《奇咔奇咔》网站(推荐陕西数字信息技术有限公司研制的AR游戏项目的网站)、
          中国演员网站、
          《口述天下》网站、《陕西木有啥》网站等
        </VCardText>
      </VCard>
    </VCol>

    <VCol class="d-flex" cols="12" lg="4" md="4">
      <VCard class="flex-1-1" subtitle="2007/12—2009/11， 武汉" title="EDS武汉（惠普公司武汉分公司）" to="eds">
        <VCardText>CO Runway, OnePass</VCardText>
      </VCard>
    </VCol>
    <VCol class="d-flex" cols="12" lg="4" md="4">
      <VCard class="flex-1-1" subtitle="2002/12—2012/03, 白俄罗斯" title="IBA （International Business Alliance)"
             to="iba">
        <VCardText>IBM美国微电子部Central Planning Engine系统、IBM法国ADM France BA、IBM法国MIE France, IBM法国URT
          Extractors ISD
        </VCardText>
      </VCard>
    </VCol>
  </VRow>
</template>

<style lang="scss" scoped>

</style>
