<script setup>
import picture1 from '@images/pages/rainbow/smart-oper/6.png'
import picture2 from '@images/pages/rainbow/smart-oper/4.png'
import picture3 from '@images/pages/rainbow/smart-oper/5.png'
import picture4 from '@images/pages/rainbow/smart-oper/可视化运维系统设备台长.png'
import picture5 from '@images/pages/rainbow/smart-oper/可视化运维系统保养任务管理.png'
import picture6 from '@images/pages/rainbow/smart-oper/7.png'
</script>

<template>
  <v-row>
    <v-col cols="12">
      <div class="text-h3">IBM法国IE France</div>
    </v-col>
  </v-row>
  <v-row>
    <v-col cols="12">
      <div class="text-default">2010/04 - 2011/05</div>
    </v-col>
  </v-row>

  <v-row>
    <v-col cols="12">
      <v-card>
        <v-card-text>
          <div class="text-h5">简介</div>
          <p>
            项目的目的是研发一种综合性的软件。软件的用途是从在IBM大型机上运行不同的分系统（DB2,CICS,
            IMS等）提取用户资料，然后把提取的资料变成它所需要的格式。
          </p>

          <!--          <div class="text-h5">功能</div>-->
          <!--          <p>主要功能是：</p>-->
          <!--          <v-list>-->
          <!--            <v-list-item>1. 基础安全、人员安全、环境安全、设备安全、生产安全管理</v-list-item>-->
          <!--            <v-list-item>2. 运营管理</v-list-item>-->
          <!--            <v-list-item>3. 资产管理</v-list-item>-->
          <!--          </v-list>-->

          <div class="text-h5 mt-6">技术</div>
          <p>JavaScript，TDI，DB2, SQL</p>

          <div class="text-h5 mt-6">项目目标</div>
          <v-list>
            <v-list-item>1. 自动化IMS、CICS、DB2等系统上的用户资料的处理</v-list-item>
          </v-list>
          <div class="text-h5 mt-6">成就</div>
          <v-list>
            <v-list-item>1. 学会了TDI、JavaScript</v-list-item>
            <v-list-item>2. 一个人设计了项目的TDI部分</v-list-item>
            <v-list-item>3. 用TDI和JavaScript研发了处理IBM大型主机上DB2、CICS、IMS等的用户资料的系统</v-list-item>
          </v-list>
        </v-card-text>
      </v-card>
    </v-col>
  </v-row>
</template>

<style lang="scss" scoped>

</style>
