<script setup>
import picture1 from '@images/pages/rainbow/smart-oper/6.png'
import picture2 from '@images/pages/rainbow/smart-oper/4.png'
import picture3 from '@images/pages/rainbow/smart-oper/5.png'
import picture4 from '@images/pages/rainbow/smart-oper/可视化运维系统设备台长.png'
import picture5 from '@images/pages/rainbow/smart-oper/可视化运维系统保养任务管理.png'
import picture6 from '@images/pages/rainbow/smart-oper/7.png'
</script>

<template>
  <v-row>
    <v-col cols="12">
      <div class="text-h3">IBM法国URT Extractors ISD</div>
    </v-col>
  </v-row>
  <v-row>
    <v-col cols="12">
      <div class="text-default">2011/06 - 2012/03</div>
    </v-col>
  </v-row>

  <v-row>
    <v-col cols="12">
      <v-card>
        <v-card-text>
          <div class="text-h5">简介</div>
          <p>
            项目的目的是研发在Unix、 AIX、 Solaris、 Linux,、HP-UX操作系统上运行一种综合性的软件。软件的用途是从在Unix、AIX、
            Solaris、 Linux、 HP-UX操作系统上运行不同的分系统（Oracle、SAP、 DB2等）提取用户资料，然后把提取的资料变成它所需要的格式。

          </p>

          <!--          <div class="text-h5">功能</div>-->
          <!--          <p>主要功能是：</p>-->
          <!--          <v-list>-->
          <!--            <v-list-item>1. 基础安全、人员安全、环境安全、设备安全、生产安全管理</v-list-item>-->
          <!--            <v-list-item>2. 运营管理</v-list-item>-->
          <!--            <v-list-item>3. 资产管理</v-list-item>-->
          <!--          </v-list>-->

          <div class="text-h5 mt-6">项目目标</div>
          <v-list>
            <v-list-item>1.自动化Unix、AIX、
              Solaris、 Linux、 HP-UX操作系统上运行不同的分系统提取用户资料的处理
            </v-list-item>
          </v-list>

          <div class="text-h5 mt-6">技术</div>
          <p>Perl, korn-shell, DB2, SQL</p>

          <div class="text-h5 mt-6">成就</div>
          <v-list>
            <v-list-item>1. 学会了Perl、基于Unix系统的korn-shell</v-list-item>
            <v-list-item>2. 用Perl和korn-shell研发了获取DB2、Oracle、SAP等用户资料的程序</v-list-item>
          </v-list>
        </v-card-text>
      </v-card>
    </v-col>
  </v-row>
</template>

<style lang="scss" scoped>

</style>
