<script setup>
import picture1 from '@images/pages/rainbow/smart-oper/6.png'
import picture2 from '@images/pages/rainbow/smart-oper/4.png'
import picture3 from '@images/pages/rainbow/smart-oper/5.png'
import picture4 from '@images/pages/rainbow/smart-oper/可视化运维系统设备台长.png'
import picture5 from '@images/pages/rainbow/smart-oper/可视化运维系统保养任务管理.png'
import picture6 from '@images/pages/rainbow/smart-oper/7.png'
</script>

<template>
  <v-row>
    <v-col cols="12">
      <div class="text-h3">魔幻恐龙</div>
    </v-col>
  </v-row>
  <v-row>
    <v-col cols="12">
      <div class="text-default">2016/05 - 2016/05</div>
    </v-col>
  </v-row>

  <v-row>
    <v-col cols="12">
      <v-card>
        <v-card-text>
          <div class="text-h5">简介</div>
          <p>
            魔幻恐龙是用LayaAir制作的小游戏。LayaAir是有大型游戏线上产品（裸跑）案例的HTML5引擎。</p>

          <!--          <div class="text-h5">功能</div>-->
          <!--          <p>主要功能是：</p>-->
          <!--          <v-list>-->
          <!--            <v-list-item>1. 基础安全、人员安全、环境安全、设备安全、生产安全管理</v-list-item>-->
          <!--            <v-list-item>2. 运营管理</v-list-item>-->
          <!--            <v-list-item>3. 资产管理</v-list-item>-->
          <!--          </v-list>-->

          <div class="text-h5 mt-6">项目目标</div>
          <v-list>
            <v-list-item>1. 此小游戏用于推荐公司研发的AR产品</v-list-item>
          </v-list>

          <div class="text-h5 mt-6">技术</div>
          <p>HTML5, CSS, JavaScript, LayaAir</p>
        </v-card-text>
      </v-card>
    </v-col>
  </v-row>
</template>

<style lang="scss" scoped>

</style>
